
<div class="row mt-2">
{{# each products ~}}
  <div class="col-sm-6 col-md-4 mb-2">
    <div class="card">
      <img src="{{imagePath}}" class="card-img-top img-responsive" alt="Picture">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text description">{{description}}</p>
        <div class=" clearfix">
          <div class="btn btn-secondary float-left">{{price}}</div>
          <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>